@{
    ViewBag.Title = "About Brett Baumann";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Brett was born and raised in Columbus, Ohio. His passions have always been family and friends. He enjoys music, cars, and working out. He has always had a love for America and currently serves in the United States Air Force as a C-130 Crew Chief.   </p>
