@{
    ViewBag.Title = "Brett Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    38 N. Mckinley Ave.<br />
    Athens, OH 45701<br />
    <abbr title="Phone">P:</abbr>
    614-572-9105
</address>

<address>
    <strong>Contact Me:</strong>   <a href="mailto:bb703914@ohio.edu">bb703914@ohio.edu</a><br />
    
</address>