@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>MIS4200</h2>
    <p>This is a sample site for MIS4200 and learning more about Brett Baumann.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Bare Performance Nutrition</h2>
        <p>
            BPN is owned and operated by Nick Bare. Besides the military, Nick Bare has many similiar hobbies such as fitness and the passion for doing what you enjoy in life.
        </p>
        <p><a class="btn btn-default" href="https://www.bareperformancenutrition.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>SnowCats</h2>
        <p>SnowCats is a snowboarding club here at Ohio University that Brett is invoved with.</p>
        <p><a class="btn btn-default" href="http://ohiosnowcats.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Youtube</h2>
        <p>Youtube is where Brett spends much of his free time watching his favorite vlogs about fitness, fashion, cars, and music.</p>
        <p><a class="btn btn-default" href="https://www.youtube.com/">Learn more &raquo;</a></p>
    </div>
</div>